.square {
	position: relative;
	background: transparent;
	border: none;
	height: 150px;
	width: 150px;
	max-height: 150px;
	max-width: 150px;
	outline: none;
}

.square:visited {
	top: -50px;
}

#gameplayer1 {
	position: relative;
	left: -100px;
}

#gameplayer2 {
	position: relative;
	left: 100px;
}

#linkhome {
	position: fixed;
	bottom: 0%;
	width: 100%;
}

a {
	color: grey;
}

.gamerestarttext {
	font-size: 32px;
	text-decoration: none;
	background-color: lightgrey;
	border-radius: 5px;
	color: #555555;
}

.gamerestarttext:hover {
	border: solid 1px #ccc;
}

.gametext {
	font-family: monospace, serif;
	font-size: 20px;
	color: #555555;
}

h2 {
	font-family: monospace, serif;
	font-size: 2em;
	color: #555555;
}