html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
    background-color: #282828;
    color: white;
}

.container {
    max-width: 900px;
    margin: auto;
    padding-top: 40px;
}

.container .title {
    font-size: 48px;
}

a {
    color: cyan;
}

div {
    margin: 20px;
}