#header {
	border: 2px solid #CCCCCC;
	border-radius: 25px;
	background-color: rgba(200,200,200,0.4);
	font-size: 48px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 10px;
	width: 95%;
}

.list {
	font-size: 48px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	margin-top: 150px;
	top: 15px;
	left: 15px;
	padding: 10px;
	color: #dddddd;
}

li {
	display: inline;
	padding: 200px;
	text-decoration: none;
}

ul {
	text-decoration: none;
	padding: 0px;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}

a {
	color: #DDDDDD;
	text-decoration: none;
}

a:hover {
	color: #CCCCCC;
}

#name {
	float: left;
}

.new {
	float: right;
}

.new2 {
	float: middle;
}

.item {
	border: 2px solid #CCCCCC;
	border-radius: 25px;
	background-color: rgba(200,200,200,0.4);
	font-size: 48px;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	top: 15px;
	left: 15px;
	padding: 10px;
	margin-top: 5px;
}

input {
	border: none;
	border-radius: 25px;
	padding: 15px;
	background: rgba(255, 255, 255, 0.2);
	margin: 0 0 5px 0;
	font-size: 32px;
}