html, body {
	width: 600px;
	height: 750px;
	margin: 0 auto;
	margin-top: 30px;
}
.gm-screen {
	height: 100%;
	text-align: center;
}

.gm-table {
	width: 600px;
	height: 600px;
	margin-top: 46px;
	background-image: url("./images/board.png");
}

.gm-square {
	width: 40px;
	height: 40px;
	float: left;
}

.gm-row {
	clear: both;
}

#gm-white {
	background: url("./images/red-stone.png");
}

#gm-black {
	background: url("./images/black-stone.png");
}

#gm-white-hover {
	background: url("./images/red-stone.png");
	opacity: 0.8;
}

#gm-black-hover {
	background: url("./images/black-stone.png");
	opacity: 0.8;
}

#gm-title {
	font-size: 30px;
}

#gm-turn-div {
	float: left;
	font-size: 25px;
}

#gm-winner {
	float: right;
	font-size: 25px;
}

#gm-restart {
	position: relative;
	width: 50%;
	font-size: 32px;
	text-decoration: none;
	background-color: #5C9DFF;
	color: black;
	box-shadow: 5px 3px #3385FF;
	top: 15px;
}

#gm-restart:active {
	box-shadow: none;
	margin-left: 10px;
	top: 20px;
}